// Typography
$elc-font: "Helvetica Neue", Helvetica, Arial, sans-serif;
$font-bold: 700;
$font-medium: 500;
$font-light: 100;

// Width rules
$big-screen: 1920px;

// Media queries
$laptop: 1024px;

// Colors
$color-black: #000000;
$color-gold: #f3c109;
$color-light-gray: #cccccc;
$color-old-gold: #938963;
$color-strong-blue: #110096;
$color-white: #ffffff;
