// Typography
$elc-font: "Helvetica Neue", Helvetica, Arial, sans-serif;
$font-bold: 700;
$font-light: 100;

// Width rules
$big-screen: 1920px;

// Media queries
$laptop: 1024px;

// Colors
$color-strong-blue: #110096;
$color-gold: #f3c109;
$color-white: #ffffff;
